{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="antialiased">
    <div class="wrapper">
        <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand navbar-brand-autodark">
                </h1>
                <div class="navbar-nav flex-row d-lg-none">
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="navbar-nav pt-lg-3">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Principal
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cadastro' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                    <!-- Download SVG icon from http://tabler-icons.io/i/report-money -->
                                	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard-list" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M9 12l.01 0" /><path d="M13 12l2 0" /><path d="M9 16l.01 0" /><path d="M13 16l2 0" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Cadastro
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'importacao' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                    <!-- Download SVG icon from http://tabler-icons.io/i/report-money -->
                                	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-import" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M5 13v-8a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-5.5m-9.5 -2h7m-3 -3l3 3l-3 3" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Importação
                                </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'pagamento' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                    <!-- Download SVG icon from http://tabler-icons.io/i/report-money -->
                                	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-report-money" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" /><path d="M12 17v1m0 -8v1" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Pagamentos
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'acordo' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                    <!-- Download SVG icon from http://tabler-icons.io/i/report-money -->
                                	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-layers-intersect" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 4m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" /><path d="M4 8m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Acordos
                                </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'juridico_externo' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                    <!-- Download SVG icon from http://tabler-icons.io/i/report-money -->
                                	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-headset" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 14v-3a8 8 0 1 1 16 0v3" /><path d="M18 19c0 1.657 -2.686 3 -6 3" /><path d="M4 14a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2v-3z" /><path d="M15 14a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2v-3z" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Jurídico externo
                                </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-red" href="{% url 'logout' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                    <!-- Download SVG icon from http://tabler-icons.io/i/logout -->
                                	<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" /><path d="M7 12h14l-3 -3m0 6l3 -3" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Sair
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="col-12 align-items-center">
                        <div class="row">
                            <div class="col">
                                <!-- Page pre-title -->
                                <h2 class="page-title">
                                    Listagem de títulos com Acordo em Aberto
                                </h2>
                            </div>
                        </div>
                        <!-- Page title actions -->
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-fluid">
                    
                    <div class="flex pb-2">
                        <form method="post" action="{% url 'acordo' %}">
                            {% csrf_token %}
                            <div class="row col-12 p-2">
                                <div class="col-2 p-2">
                                    <label class="form-label" for="data_inicial">Data inicial</label>
                                    <input type="date" class="form-control" name="data_inicial" value="{{ data_inicial|default:'' }}">
                                </div>

                                <div class="col-2 p-2">
                                    <label class="form-label" for="data_final">Data final</label>
                                    <input type="date" class="form-control" name="data_final" value="{{ data_final|default:'' }}">
                                </div>
                                
                                <div class="col-2 p-5">
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Filtrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                    
                    <div class="col-12 mt-3">
                        <div class="card">
                                <table class="table card-table table-vcenter text-nowrap datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Cedente</th>
                                            <th scope="col">Sacado</th>
                                            <th scope="col">Valor</th>
                                            <th scope="col">Contato</th>
                                            <th scope="col">Forma de contato</th>
                                            <th scope="col">Pagador</th>
                                            <th scope="col">Situação</th>
                                            <th scope="col">Data vencimento</th>
                                            <th scope="col">Data pagamento</th>
                                            <th scope="col">Data inclusão</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for acordo in acordos %}
                                        <tr>
                                            <th scope="row">
                                                {{forloop.counter}}
                                            </th>
                                            <td>{{ acordo.cedente }}</td>
                                            <td>{{ acordo.sacado }}</td>
                                            <td class="{{ acordo.valor }}">R$ {{ acordo.valor|floatformat:2 }}</td>
                                            <td>
                                                <a href="{{ acordo.whatsapp }}" target="_blank">
                                                    {{ acordo.contato }}
                                                </a>
                                            </td>
                                            <td>{{ acordo.forma_contato }}</td>
                                            <td>{{ acordo.pagador }}</td>
                                            <td>{{ acordo.situacao }}</td>
                                            <td>{{ acordo.data_vencimento|default:'' }}</td>
                                            <td>{{ acordo.data_pagamento|default:'' }}</td>
                                            <td>{{ acordo.created_at }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>
</body>
{% endblock %}