{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="antialiased">
    <div class="wrapper">
        <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand navbar-brand-autodark">
                </h1>
                <div class="navbar-nav flex-row d-lg-none">
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="navbar-nav pt-lg-3">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Principal
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cadastro' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                    <!-- Download SVG icon from http://tabler-icons.io/i/report-money -->
                                	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard-list" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M9 12l.01 0" /><path d="M13 12l2 0" /><path d="M9 16l.01 0" /><path d="M13 16l2 0" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Cadastro
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'importacao' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                    <!-- Download SVG icon from http://tabler-icons.io/i/report-money -->
                                	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-import" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M5 13v-8a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-5.5m-9.5 -2h7m-3 -3l3 3l-3 3" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Importação
                                </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'pagamento' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                    <!-- Download SVG icon from http://tabler-icons.io/i/report-money -->
                                	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-report-money" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" /><path d="M12 17v1m0 -8v1" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Pagamentos
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-red" href="{% url 'logout' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                    <!-- Download SVG icon from http://tabler-icons.io/i/logout -->
                                	<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" /><path d="M7 12h14l-3 -3m0 6l3 -3" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Sair
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="col-12 align-items-center">
                        <div class="row">
                            <div class="col">
                                <!-- Page pre-title -->
                                <h2 class="page-title">
                                    Listagem de títulos (em desenvolvimento)
                                </h2>
                            </div>
                        </div>
                        <!-- Page title actions -->
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-fluid">
                    
                    <div class="pb-5">
                        <div class="flex-row">
                            {% for link in links %}
                                <a class="border-wide p-2" href="{{ link.link }}" target="_blank">{{ link.titulo }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    
                    <div class="col-12 mt-3">
                        <div class="card">
                            <div class="card-header" style="width: 350px;">
                                <form method="post" action="{% url 'home' %}">
                                    {% csrf_token %}
                                    <input type="text" name="search" value="{{ search|default:'' }}">
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Pesquisar</button>
                                </form>
                            </div>

                            <div class="table-responsive" style="height: 350px">
                                <table class="table card-table table-vcenter text-nowrap datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Cedente / Sacado</th>
                                            <th scope="col">Id</th>
                                            <th scope="col">Valor</th>
                                            <th scope="col">Contato</th>
                                            <th scope="col">Forma de contato</th>
                                            <th scope="col">Pagador</th>
                                            <th scope="col">Situação</th>
                                            <th scope="col">Data vencimento</th>
                                            <th scope="col">Data pagamento</th>
                                            <th scope="col">Observação</th>
                                            <th scope="col">Data inclusão</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for cedente_sacado in agrupamento %}
                                        <tr>
                                            <td>{{ cedente_sacado }}</td>
                                        </tr>

                                        {% for titulo in titulos %}
                                            
                                        {% if titulo.cedente_sacado == cedente_sacado %}
                                        <tr>
                                            <td></td>
                                            <th scope="row">
                                                <a href="#" data-bs-toggle="modal" data-bs-target="#modal_titulo_{{titulo.id}}">
                                                    {{forloop.counter}}
                                                </a>
                                            </th>
                                            <td class="{{ titulo.valor }}">R$ {{ titulo.valor|floatformat:2 }}</td>
                                            <td>
                                                <a href="{{ titulo.whatsapp }}" target="_blank">
                                                    {{ titulo.contato }}
                                                </a>
                                            </td>
                                            <td>{{ titulo.forma_contato }}</td>
                                            <td>{{ titulo.pagador }}</td>
                                            <td>{{ titulo.situacao }}</td>
                                            <td>{{ titulo.data_vencimento|default:'' }}</td>
                                            <td>{{ titulo.data_pagamento|default:'' }}</td>
                                            <td>{{ titulo.observacao|default:'' }}</td>
                                            <td>{{ titulo.created_at }}</td>
                                        </tr>
                                        {% endif %}
                                        
                                        {% endfor %}
                                        
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% for titulo in titulos %}
        <div class="modal" id="modal_titulo_{{titulo.id}}" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">{{titulo.cedente}} - {{titulo.sacado}} | R$ {{ titulo.valor|floatformat:2  }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form method="post" action="{% url 'submit_update_titulo' %}" enctype="multipart/form-data">
                            {% csrf_token %}
                            <input type="hidden" name="titulo_id" value="{{ titulo.id }}">

                            <div class="mb-3">
                                <label class="form-label" for="situacao">Situação</label>
                                <select id="situacao" name="situacao" class="form-select" aria-label="Situação" required>
                                {% for situacao in situacoes %}
                                    <option value="{{ situacao.descricao }}" {% if situacao.descricao == titulo.situacao.descricao %} selected {% endif %}>{{ situacao.descricao }}</option>
                                {% endfor %}
                                </select>

                                <div class="mb-3">
                                    <label class="form-label" for="data_vencimento">Data vencimento</label>
                                    <input type="date" class="form-control" name="data_vencimento" value="{{ titulo.data_vencimento_formatada|default:'' }}">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="data_pagamento">Data pagamento</label>
                                    <input type="date" class="form-control" name="data_pagamento" value="{{ titulo.data_pagamento_formatada|default:'' }}">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="observacao">Observação</label>
                                    <textarea class="form-control" name="observacao" rows="3">{{ titulo.observacao|default:'' }}</textarea>
                                </div>

                                <div class="mb-3">
                                    <label class="form-label" for="anexo">Anexo</label>
                                    <input type="file" name="anexo" class="form-control">
                                </div>

                                <div class="mb-3">
                                    {% for anexo in titulo.anexos %}
                                        <a href="media/{{ anexo.arquivo }}" target="_blank">{{ anexo.descricao }}</a>
                                    {% endfor %}
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Fechar</button>
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Confirmar alterações</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>    
    <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>
</body>
{% endblock %}