{% extends 'base.html' %}
{% load static %}
{% block content %}
<body class="antialiased">
    <div class="wrapper">
        <aside class="navbar navbar-vertical navbar-expand-lg navbar-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-menu">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <h1 class="navbar-brand navbar-brand-autodark">
                </h1>
                <div class="navbar-nav flex-row d-lg-none">
                </div>
                <div class="collapse navbar-collapse" id="navbar-menu">
                    <ul class="navbar-nav pt-lg-3">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'home' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><polyline points="5 12 3 12 12 3 21 12 19 12" /><path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" /><path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Principal
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'cadastro' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                    <!-- Download SVG icon from http://tabler-icons.io/i/report-money -->
                                	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-clipboard-list" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M9 12l.01 0" /><path d="M13 12l2 0" /><path d="M9 16l.01 0" /><path d="M13 16l2 0" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Cadastro
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'importacao' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                    <!-- Download SVG icon from http://tabler-icons.io/i/report-money -->
                                	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-file-import" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 3v4a1 1 0 0 0 1 1h4" /><path d="M5 13v-8a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2h-5.5m-9.5 -2h7m-3 -3l3 3l-3 3" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Importação
                                </span>
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'pagamento' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                    <!-- Download SVG icon from http://tabler-icons.io/i/report-money -->
                                	<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-report-money" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 5h-2a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-12a2 2 0 0 0 -2 -2h-2" /><path d="M9 3m0 2a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v0a2 2 0 0 1 -2 2h-2a2 2 0 0 1 -2 -2z" /><path d="M14 11h-2.5a1.5 1.5 0 0 0 0 3h1a1.5 1.5 0 0 1 0 3h-2.5" /><path d="M12 17v1m0 -8v1" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Pagamentos
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-red" href="{% url 'logout' %}" >
                                <span class="nav-link-icon d-md-none d-lg-inline-block"><!-- Download SVG icon from http://tabler-icons.io/i/package -->
                                    <!-- Download SVG icon from http://tabler-icons.io/i/logout -->
                                	<svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M14 8v-2a2 2 0 0 0 -2 -2h-7a2 2 0 0 0 -2 2v12a2 2 0 0 0 2 2h7a2 2 0 0 0 2 -2v-2" /><path d="M7 12h14l-3 -3m0 6l3 -3" /></svg>
                                </span>
                                <span class="nav-link-title">
                                    Sair
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                <!-- Page title -->
                <div class="page-header d-print-none">
                    <div class="col-12 align-items-center">
                        <div class="row">
                            <div class="col">
                                <!-- Page pre-title -->
                                <h2 class="page-title">
                                    Listagem de títulos (em desenvolvimento)
                                </h2>
                            </div>
                        </div>
                        <!-- Page title actions -->
                    </div>
                </div>
            </div>
            <div class="page-body">
                <div class="container-fluid">
                    
                    <div class="pb-5">
                        <div class="flex-row">
                            {% for link in links %}
                                <a class="border-wide p-2" href="{{ link.link }}" target="_blank">{{ link.titulo }}</a>
                            {% endfor %}
                        </div>
                    </div>
 
                    <div class="col-12">
                        <div class="card">
                        <div class="card-body">
                            <div id="chart-completion-tasks-4"></div>
                        </div>
                        </div>
                    </div>
                    
                    <div class="col-12 mt-3">
                        <div class="card">
                                <table class="table card-table table-vcenter text-nowrap datatable">
                                    <thead>
                                        <tr>
                                            <th scope="col">Id</th>
                                            <th scope="col">Cedente</th>
                                            <th scope="col">Sacado</th>
                                            <th scope="col">Valor</th>
                                            <th scope="col">Contato</th>
                                            <th scope="col">Forma de contato</th>
                                            <th scope="col">Pagador</th>
                                            <th scope="col">Situação</th>
                                            <th scope="col">Data vencimento</th>
                                            <th scope="col">Data pagamento</th>
                                            <th scope="col">Observação</th>
                                            <th scope="col">Data inclusão</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for pagamento in pagamentos %}
                                        <tr>
                                            <th scope="row">
                                                {{forloop.counter}}
                                            </th>
                                            <td>{{ pagamento.cedente }}</td>
                                            <td>{{ pagamento.sacado }}</td>
                                            <td class="{{ pagamento.valor }}">R$ {{ pagamento.valor|floatformat:2 }}</td>
                                            <td>
                                                <a href="{{ pagamento.whatsapp }}" target="_blank">
                                                    {{ pagamento.contato }}
                                                </a>
                                            </td>
                                            <td>{{ pagamento.forma_contato }}</td>
                                            <td>{{ pagamento.pagador }}</td>
                                            <td>{{ pagamento.situacao }}</td>
                                            <td>{{ pagamento.data_vencimento|default:'' }}</td>
                                            <td>{{ pagamento.data_pagamento|default:'' }}</td>
                                            <td>{{ pagamento.observacao|default:'' }}</td>
                                            <td>{{ pagamento.created_at }}</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
    <script src="https://unpkg.com/@tabler/core@latest/dist/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="https://unpkg.com/@tabler/core@latest/dist/js/tabler.min.js"></script>
    <script>

        const pagamentos = "{{ json_pagamentos }}";
        const dados = JSON.parse(pagamentos.replace(/&quot;/g,'"'));

        let datas = [];
        let valores = [];
        for (const item of dados) {
            datas.push(item.data);
            valores.push(parseFloat(item.valor).toFixed(2));
        }

        document.addEventListener("DOMContentLoaded", function () {
            window.ApexCharts && (new ApexCharts(document.getElementById('chart-completion-tasks-4'), {
                chart: {
                    type: "line",
                    fontFamily: 'inherit',
                    height: 240,
                    parentHeightOffset: 0,
                    toolbar: {
                        show: false,
                    },
                    animations: {
                        enabled: false
                    },
                },
                fill: {
                    opacity: 1,
                },
                stroke: {
                    width: 2,
                    lineCap: "round",
                    curve: "straight",
                },
                series: [{
                    name: "Valor recebido",
                    data: valores
                }],
                grid: {
                    padding: {
                        top: -20,
                        right: 0,
                        left: -4,
                        bottom: -4
                    },
                    strokeDashArray: 4,
                },
                xaxis: {
                    labels: {
                        padding: 0,
                    },
                    tooltip: {
                        enabled: false
                    },
                    type: 'datetime',
                },
                yaxis: {
                    labels: {
                        padding: 4
                    },
                },
                labels: datas,
                colors: ["#206bc4"],
                legend: {
                    show: false,
                },
            })).render();
        });
    </script>
</body>
{% endblock %}